@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
}

html,
body {
  background: #000;
  color: #fff;
  scroll-behavior: smooth;
}

.big-shoulders {
  font-family: 'Big Shoulders Display', sans-serif;
}
