.blur-text {
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 768px) {
  .blur-text {
    font-size: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .blur-text {
    font-size: 1.5rem;
  }
}
